.banner {
    align-items: center;
    background-image: linear-gradient(to bottom right, $blue, $bg);
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 0;
    
    &__desc {
        width: 65%;
    }
    
    &__image {
        width: 35%;
    }

    &__title {
        color: $white;
        font: 30px $font-semibold;
        margin: 0;
        text-transform: uppercase;
    }
    
    &__text {
        color: $white;
        font: 20px/28px $font-regular;
        margin: 30px 0 50px;
        max-width: 500px;
    }

    &__img {
        margin-bottom: -5px;
        width: 400px;
    }
}