body {
    background: $bg;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    padding: 50px 250px;
}

.menu {
    align-items: center;
    background: $blue;
    display: flex;
    padding: 30px 0;
    position: fixed;
    width: 100%;

    &__list {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 130px;
        width: 100%;
    }
    
    &__item {
        color: $white;
        cursor: pointer;
        font: 17px $font-semibold;
        margin: 0 40px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .5s ease-in-out;

        &:hover {
            color: $green;
        }
    }
}

.title {
    color: $blue;
    font: 22px $font-semibold;
    margin-bottom: 20px;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.button {
    border: 3px solid $white;
    background: transparent;
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    font: 18px $font-bold;
    margin-right: 30px;
    outline: none;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    width: 200px;

    &:hover {
        background: $green;
        border-color: $green;
    }
}