.news {
    &__title {
        color: $black;
        font: 25px $font-bold;
        text-align: center;
    }
    
    &__list {
        align-items: center;
        background: $bg;
        display: flex;
        justify-content: center;
        
        @include MQ($S) {
            display: block;
        }
    }
    
    &__item {
        margin: 20px 15px;
        text-align: center;
    }
    
    &__input {
        background: transparent;
        border: 2px solid $blue;
        border-radius: 10px;
        color: $blue;
        font: 16px/24px $font-semibold;
        outline: none;
        padding: 10px 15px;
        width: 400px;

        @include MQ(650px) {
            width: 90%;
        }
    }
    
    &__button {
        border-color: $green;
        color: $green;
        
        &:hover {
            color: $white;
        }

        @include MQ($S) {
            margin: auto;
        }
    }
}

::placeholder {
    color: $blue;
}