.practical {
    align-items: center;
    background: #E2E7EA;
    display: flex;
    justify-content: space-between;
    
    @include MQ($M) {
        justify-content: space-evenly;
    }
    
    @include MQ($S) {
        display: block;
    }
    
    &__item {
        width: 49%;
        margin: auto;

        &:first-child {
            @include MQ($XS) {
                text-align: center;
            }
        }

        @include MQ($S) {
            width: 70%;
        }
            
        @include MQ($XS) {
            width: 95%;
        }
    }

    &__img {
        margin-top: 50px;
        width: 300px;
        
        @include MQ($S) {
            width: 250px;
        }
    }
    
    &__title {
        color: $blue;
        font: 25px $font-bold;
        margin-left: -25px;
        text-align: center;
    }
    
    &__text {
        color: $blue;
        font: 16px/24px $font-regular;

        &--bold {
            font-family: $font-bold;
        }
    }

    &__icon {
        width: 130px;
    }
}