.topics {
    margin: 0 auto;
    text-align: center;

    &__title {
        color: $black;
        font: 25px $font-bold;
    }
    
    &__text {
        color: $black;
        font: 18px $font-regular;
        margin: 20px 0 50px;
    }

    &__list {
        align-items: flex-start;
        display: flex;
        justify-content: space-evenly;
        
        @include MQ($S) {
            display: block;
        }
    }

    &__item {
        width: 35%;
        
        @include MQ($S) {
            width: 100%;
        }

        &-title {
            color: $black;
            font: 20px $font-bold;
        }
        
        &-text {
            color: $black;
            font: 16px/24px $font-regular;
            margin: 20px 20px 50px;
            
            @include MQ($S) {
                margin: 20px auto 50px;
                max-width: 310px;
            }
        }

        &-image {
            background: $green;
            border-radius: 100%;
            margin: 0 auto 20px;
            padding: 25px 20px;
            width: 90px;
        }

        &-icon {
            height: 75px;
            width: 75px;
        }
    }
}