.news {
    &__title {
        color: $black;
        font: 25px $font-bold;
        text-align: center;
    }
    
    &__list {
        align-items: center;
        background: $bg;
        display: flex;
        justify-content: center;
    }
    
    &__item {
        margin: 20px 15px;
        text-align: center;
    }
    
    &__input {
        background: transparent;
        border: 2px solid $blue;
        border-radius: 10px;
        color: $blue;
        font: 16px/24px $font-semibold;
        outline: none;
        padding: 10px 15px;
        width: 400px;
    }
    
    &__button {
        border: 3px solid $green;
        background: transparent;
        border-radius: 10px;
        color: $green;
        cursor: pointer;
        font: 18px $font-bold;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        width: 200px;
        
        &:hover {
            background: $green;
            color: $white;
        }
    }
}

::placeholder {
    color: $blue;
}