@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'Montserrat Medium';
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf); }
@font-face {
  font-family: 'Montserrat Regular';
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf); }
@font-face {
  font-family: 'Montserrat Bold';
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf); }
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf); }
@font-face {
  font-family: 'Montserrat Light';
  src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf); }
@font-face {
  font-family: 'Montserrat Thin';
  src: url(../assets/fonts/Montserrat/Montserrat-Thin.ttf); }
body {
  background: #EEE;
  margin: 0;
  padding: 0; }

.wrapper {
  margin: auto;
  padding: 50px 250px; }

.menu {
  align-items: center;
  background: #055C92;
  display: flex;
  padding: 30px 0;
  position: fixed;
  width: 100%; }
  .menu__list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 130px;
    width: 100%; }
  .menu__item {
    color: #EFEFEF;
    cursor: pointer;
    font: 17px "Montserrat SemiBold";
    margin: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s ease-in-out; }
    .menu__item:hover {
      color: #059279; }

.title {
  color: #055C92;
  font: 22px "Montserrat SemiBold";
  margin-bottom: 20px; }

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-start; }

.button {
  border: 3px solid #EFEFEF;
  background: transparent;
  border-radius: 10px;
  color: #EFEFEF;
  cursor: pointer;
  font: 18px "Montserrat Bold";
  margin-right: 30px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width: 200px; }
  .button:hover {
    background: #059279;
    border-color: #059279; }

.banner {
  align-items: center;
  background-image: linear-gradient(to bottom right, #055C92, #EEE);
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 0; }
  .banner__desc {
    width: 65%; }
  .banner__image {
    width: 35%; }
  .banner__title {
    color: #EFEFEF;
    font: 30px "Montserrat SemiBold";
    margin: 0;
    text-transform: uppercase; }
  .banner__text {
    color: #EFEFEF;
    font: 20px/28px "Montserrat Regular";
    margin: 30px 0 50px;
    max-width: 500px; }
  .banner__img {
    margin-bottom: -5px;
    width: 400px; }

.topics {
  margin: 0 auto;
  text-align: center; }
  .topics__title {
    color: #37474F;
    font: 25px "Montserrat Bold"; }
  .topics__text {
    color: #37474F;
    font: 18px "Montserrat Regular";
    margin: 20px 0 50px; }
  .topics__list {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly; }
  .topics__item {
    width: 35%; }
    .topics__item-title {
      color: #37474F;
      font: 20px "Montserrat Bold"; }
    .topics__item-text {
      color: #37474F;
      font: 16px/24px "Montserrat Regular";
      margin: 20px 20px 50px; }
    .topics__item-image {
      background: #059279;
      border-radius: 100%;
      margin: 0 auto 20px;
      padding: 25px 20px;
      width: 90px; }
    .topics__item-icon {
      height: 75px;
      width: 75px; }

.practical {
  align-items: center;
  background: #E2E7EA;
  display: flex;
  justify-content: space-between; }
  .practical__item {
    width: 49%; }
  .practical__img {
    margin-top: 50px;
    width: 300px; }
  .practical__title {
    color: #055C92;
    font: 25px "Montserrat Bold";
    margin-left: -25px;
    text-align: center; }
  .practical__text {
    color: #055C92;
    font: 16px/24px "Montserrat Regular"; }
    .practical__text--bold {
      font-family: "Montserrat Bold"; }
  .practical__icon {
    width: 130px; }

.security {
  background: #055C92; }
  .security__title {
    color: #EFEFEF;
    font: 25px "Montserrat Bold";
    text-align: center; }
  .security__text {
    color: #EFEFEF;
    font: 16px/24px "Montserrat Regular";
    margin: auto;
    max-width: 460px; }
    .security__text--bold {
      font-family: "Montserrat Bold"; }

.autentic {
  align-items: center;
  background: #E2E7EA;
  display: flex;
  justify-content: space-between; }
  .autentic__item {
    width: 49%; }
    .autentic__item--icon {
      text-align: center;
      width: 30%; }
  .autentic__img {
    margin-top: 50px;
    width: 300px; }
  .autentic__title {
    color: #055C92;
    font: 25px "Montserrat Bold";
    margin-left: -25px;
    text-align: center; }
  .autentic__text {
    color: #055C92;
    font: 16px/24px "Montserrat Regular"; }
    .autentic__text--bold {
      font-family: "Montserrat Bold"; }
  .autentic__icon {
    width: 130px; }

.news__title {
  color: #37474F;
  font: 25px "Montserrat Bold";
  text-align: center; }
.news__list {
  align-items: center;
  background: #EEE;
  display: flex;
  justify-content: center; }
.news__item {
  margin: 20px 15px;
  text-align: center; }
.news__input {
  background: transparent;
  border: 2px solid #055C92;
  border-radius: 10px;
  color: #055C92;
  font: 16px/24px "Montserrat SemiBold";
  outline: none;
  padding: 10px 15px;
  width: 400px; }
.news__button {
  border: 3px solid #059279;
  background: transparent;
  border-radius: 10px;
  color: #059279;
  cursor: pointer;
  font: 18px "Montserrat Bold";
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width: 200px; }
  .news__button:hover {
    background: #059279;
    color: #EFEFEF; }

::placeholder {
  color: #055C92; }

.download {
  background: #E2E7EA; }
  .download__title {
    color: #37474F;
    font: 25px "Montserrat Bold";
    text-align: center; }
  .download__list {
    align-items: center;
    display: flex; }
  .download__image {
    text-align: center;
    width: 40%; }
    .download__image-img {
      width: 200px; }
  .download__desc {
    width: 50%; }
    .download__desc-title {
      color: #37474F;
      font: 23px "Montserrat Bold";
      text-transform: uppercase; }
    .download__desc-text {
      color: #37474F;
      font: 16px/24px "Montserrat Medium";
      max-width: 500px; }
  .download__item {
    width: 48%; }
  .download__icon {
    height: 50px;
    margin: 50px 20px 0 0; }

.login {
  background: #055C92;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw; }
  .login__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center; }
  .login__effects-top {
    position: relative; }
    .login__effects-top:before, .login__effects-top:after {
      content: '';
      height: 140px;
      position: absolute;
      top: 0; }
    .login__effects-top:before {
      background: url(../assets/images/effects_top_left.png) no-repeat;
      left: 0;
      width: 150px; }
    .login__effects-top:after {
      background: url(../assets/images/effects_top_right.png) no-repeat;
      right: 0;
      width: 135px; }
  .login__title {
    color: #EFEFEF;
    font: 20px "Montserrat SemiBold";
    margin-bottom: 20px; }
  .login__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .login__label {
    color: #EFEFEF;
    font: 16px "Montserrat Regular"; }
  .login__input {
    color: #EFEFEF;
    background: transparent;
    border: 3px solid #EFEFEF;
    border-radius: 5px;
    font: 17px "Montserrat Regular";
    margin: 10px 0;
    outline: none;
    padding: 15px;
    width: 300px; }
  .login__button {
    margin: 20px 0 0; }
  .login__effects-bottom {
    position: relative; }
    .login__effects-bottom:before, .login__effects-bottom:after {
      content: '';
      height: 140px;
      position: absolute;
      bottom: 0; }
    .login__effects-bottom:before {
      background: url(../assets/images/effects_bottom_left.png) no-repeat;
      bottom: -13px;
      left: 0;
      width: 150px; }
    .login__effects-bottom:after {
      background: url(../assets/images/effects_bottom_right.png) no-repeat;
      right: 0;
      width: 115px; }

.admin {
  align-items: flex-start;
  display: flex; }
  .admin__menu {
    background: #055C92;
    color: #EFEFEF;
    font: 20px "Montserrat Bold";
    height: 100vh;
    text-align: center;
    width: 25%; }
  .admin__container {
    height: 90vh;
    overflow-y: scroll;
    padding: 20px 30px;
    width: 75%; }
  .admin__item {
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative; }
    .admin__item:before {
      background: #bababa;
      content: '';
      height: 1px;
      bottom: 0;
      position: absolute;
      width: 100%; }

.form__label {
  color: #055C92;
  font: 16px "Montserrat Medium";
  margin-top: 10px; }
.form__input {
  color: #055C92;
  background: transparent;
  border: 2px solid #055C92;
  border-radius: 3px;
  font: 15px "Montserrat Regular";
  margin: 10px 0;
  outline: none;
  padding: 10px;
  width: 280px; }
.form__select {
  color: #055C92;
  background: transparent;
  border: 2px solid #055C92;
  border-radius: 3px;
  font: 15px "Montserrat Regular";
  margin: 10px 0;
  outline: none;
  padding: 10px;
  width: 305px; }
.form__button {
  border: 2px solid #059279;
  border-radius: 5px;
  color: #059279;
  font: 15px "Montserrat Bold";
  margin: 20px 0 0;
  padding: 5px 10px;
  width: 130px; }
  .form__button:hover {
    background: #059279;
    color: #EFEFEF; }

/*# sourceMappingURL=index.css.map */
